body{
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    /* background-color: rgb(41, 39, 41);
    color:#100a0a */
}
/* @media (min-width: 400px) {
    body {
        background: goldenrod;
    }
}

@media (min-width: 650px) {
    body {
        background: rgb(83, 2, 83)
    }
} */

img {
    width: 600px;
    height:300px;
}

h1{
    color: rgb(16, 14, 155);
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

h2{
    color:#2c2cd8;
    font-size: 26px;
}
h3 {
    color: #7c7ce2; 
    font-size: 20px;
}
h1,
h2,
h3 {
    font-weight:700;
}

/* Layout */

.container {
    width: 650px;
    margin-left: 300px;
}


/* @media (max-width: 600px) {
    .container_1 {
        flex-direction:column;
    }
} */

